
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
.ng-font {
  font-family: "Nanum Gothic", 돋움;
}

.content {
  display: flex;
}

nav {
  order: 0;
}
section {
  order: 1;
}
aside {
  order: 2;
}
aside {
  padding: 10px;
}

a:hover {
  color: rgb(87, 85, 85);
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  background-color: black;
  width: 1200px;
}

h1 {
  margin: 10px;
  margin-bottom: 30px;
}

header,
nav,
section,
aside,
footer {
  margin: 5px;
  padding: 5px;
}

header {
  font-size: 3rem;
  color: lightgrey;
  padding-top: 70px;
  padding-left: 50px;
}

nav,
section {
  float: left;
}

nav {
  display: flex;
  float: left;
  color: lightgrey;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 55px;
  padding-top: 90px;
  padding-bottom: 70px;
  padding-left: 50px;
  margin-right: 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: lightgrey;
}

.section {
  display: flex;
  width: 820px;
  height: 480px;
}

aside {
  display: flex;
  flex-direction: column;
  color: lightgrey;
  font-size: 1rem;
  margin: 0;
  transition: all 1s ease-in-out;
}

.aside {
  display: flex;
  margin: 0;
  width: 200px;
  height: 1200px;
  padding-top: 100px;
  word-break: break-all;
}

footer {
  display: flex;
  color: lightgrey;
  font-size: 1rem;
  float: left;
  margin-top: 80px;
  margin-bottom: 50px;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 50px;
  padding-left: 100px;
  margin: 0px;
}

.box {
  display: flex;
  flex-direction: column;
  float: left;
  transition: all 1s ease-in-out;
  margin: 20px;
  width: auto;
}

.box:hover {
  transform: scale(1.2, 1.2);
}

.box:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.5s ease-in-out;
}
.box {
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.5s ease-in-out;
}
